<div class="py-5 text-white" [ngClass]="{'container': !isMobile, 'container-fluid': isMobile}">
    <div class="person-details-div">
        <!-- Person Photo -->
      <div class="person-photo mb-5">
        <img
        src="{{
          personDetail?.profile_path
            ? 'https://image.tmdb.org/t/p/original' + personDetail?.profile_path
            : 'https://upload.wikimedia.org/wikipedia/commons/a/a2/Person_Image_Placeholder.png'
        }}"
          class="img-fluid w-75"
          alt=""
        />
      </div>
      <!-- Person Details -->
      <div class="person-details">
        <h1 class="text-white">
            {{personDetail?.name}}
        </h1>
        <p class="lead text-white"><span class="fw-medium">Birthday: </span>{{ personDetail?.birthday }}</p>
        <p class="lead text-white"><span class="fw-medium">Place of birth: </span>{{ personDetail?.place_of_birth }}</p>
        <p class="lead text-white"><span class="fw-medium">Departmant: </span>{{personDetail?.known_for_department
        }}</p>
      </div>
    </div>
    <p class="lead text-white">{{ personDetail?.biography }}</p>
    <h3>Movie Filmography</h3>
    <h4 class="my-3">As part of Cast</h4>
    <div class="cards d-flex gap-3 overflow-x-auto" appHorizontalScroll>
      <div class="card recommendation-card bg-transparent text-white border-0 cursor-pointer"
        *ngFor="let movie of personMovieCreditsCast" [routerLink]="['/movie/', movie?.id]">
        <img src="{{movie?.poster_path ? 'https://media.themoviedb.org/t/p/original' + movie?.poster_path : 'https://eticketsolutions.com/demo/themes/e-ticket/img/movie.jpg'}}" class="card-img-top" alt="..." />
        <div class="card-body p-0 py-2">
          <p class="card-title mb-0">{{ movie?.character }}</p>
        </div>
      </div>
    </div>
    <h4 class="my-3">As part of Crew</h4>
    <div class="cards d-flex gap-3 overflow-x-auto" appHorizontalScroll>
      <div class="card recommendation-card bg-transparent text-white border-0 cursor-pointer"
        *ngFor="let movie of personMovieCreditsCrew" [routerLink]="['/movie/', movie?.id]">
        <img src="{{movie?.poster_path ? 'https://media.themoviedb.org/t/p/original' + movie?.poster_path : 'https://eticketsolutions.com/demo/themes/e-ticket/img/movie.jpg'}}" class="card-img-top" alt="..." />
        <div class="card-body p-0 py-2">
          <p class="card-title mb-0">{{ movie?.job }}</p>
        </div>
      </div>
    </div>
    <h3>TV Show Filmography</h3>
    <h4 class="my-3">As part of Cast</h4>
    <div class="cards d-flex gap-3 overflow-x-auto" appHorizontalScroll>
      <div class="card recommendation-card bg-transparent text-white border-0 cursor-pointer"
        *ngFor="let tv of personTvCreditsCast" [routerLink]="['/tv/', tv?.id]">
        <img src="{{tv?.poster_path ? 'https://media.themoviedb.org/t/p/original' + tv?.poster_path : 'https://eticketsolutions.com/demo/themes/e-ticket/img/movie.jpg'}}" class="card-img-top" alt="..." />
        <div class="card-body p-0 py-2">
          <p class="card-title mb-0">{{ tv?.character }}</p>
        </div>
      </div>
    </div>
    <h4 class="my-3">As part of Crew</h4>
    <div class="cards d-flex gap-3 overflow-x-auto" appHorizontalScroll>
      <div class="card recommendation-card bg-transparent text-white border-0 cursor-pointer"
        *ngFor="let tv of personTvCreditsCrew" [routerLink]="['/tv/', tv?.id]">
        <img src="{{tv?.poster_path ? 'https://media.themoviedb.org/t/p/original' + tv?.poster_path : 'https://eticketsolutions.com/demo/themes/e-ticket/img/movie.jpg'}}" class="card-img-top" alt="..." />
        <div class="card-body p-0 py-2">
          <p class="card-title mb-0">{{ tv?.job }}</p>
        </div>
      </div>
    </div>
</div>