.tmdb-logo,
.imdb-logo,
.metascore-logo,
.rotten-tomatoes-logo{
    width: 2.5rem;
}

.tv-poster{
    max-width: 35%;
}
.tv-details{
    max-width: 65%;
}
.cards::-webkit-scrollbar{
    width: 0;
}
.card{
    min-width: 6rem;
    max-width: 6rem;
}
.poster-card,
.recommendation-card{
    min-width: 10rem;
}
.backdrop-card{
    min-width: 20rem;
}
.video-card{
    min-width: 20rem;
}
iframe{
    width: 100%;
    height: 300px;
}
/* ======== Media Queries ======== */
@media screen and (max-width:991px){
    .tv-details-div{
        flex-direction: column;
        align-items: center;
    }
    .tv-poster,
    .tv-details{
        max-width: 100%;
    }
    .tv-poster{
        display: flex;
        justify-content: center;
    }
    .tv-poster img{
        width: 20rem;
    }
}